<div class="show-comment">

  <p>
    <%= comment.body %>
  </p>

  <i>Added <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user&.username  %></i>

  <p>
    <%= link_to 'Destroy Comment', [comment.post, comment],
                :confirm => 'Are you sure?',
                :method => :delete, class: 'link-to-destroy-comment'%>
  </p>

</div>