<%= link_to "Games", games_path %>

<body> 

<form class="search-bar">
  <input type="text" placeholder="Search..." required>
  <input type="button" value="Search">
</form>

<form action="#" method="GET" name="my_form" class="log-in-form">
    <fieldset>
      <legend>Please Log In Below</legend>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username"><br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password"><br>
      <input type="submit" value="Submit">
    </fieldset>
</form>

<div class="post">
  <div class="post-section post-index">1</div>
  <div class="post-upvotes">
    <img src="assets/upvote.png" class="post-upvote-image">
    <p>200</p>
    <img src="assets/downvote.png" class="post-downvote-image">
  </div>
  <div class="post-section post-image">
    <img src="assets/gaming-icon2.jpeg" class="post-image-image">
  </div>
  <div class="">
    <h4 class="post-title">What game should I play next...</h4>
    <p class="post-text">submitted by: gamer</p>  
  </div>
</div>

<div class="post">
  <div class="post-index">2</div>
  <div class="post-upvotes">
    <img src="assets/upvote.png" class="post-upvote-image">
    <p>1234</p>
    <img src="assets/downvote.png" class="post-downvote-image">
  </div>
  <div class="post-image">
    <img src="assets/witcher-icon.jpg" class="post-image-image">
  </div>
  <div class="">
    <h4 class="post-title">What is your favourite build for Witcher 3?</h4>
    <p class="post-text">submitted by: geralt</p>  
  </div>
</div>

<div class="post">
    <div class="post-index">3</div>
    <div class="post-upvotes">
      <img src="assets/upvote.png" class="post-upvote-image">
      <p>367</p>
      <img src="assets/downvote.png" class="post-downvote-image">
    </div>
    <div class="post-image">
      <img src="assets/horizon-icon.png" class="post-image-image">
    </div>
    <div class="">
      <h4 class="post-title">How do you kill a stormbird??</h4>
      <p class="post-text">submitted by: noob1</p>  
    </div>
  </div>

  <div class="post">
      <div class="post-section post-index">4</div>
      <div class="post-upvotes">
        <img src="assets/upvote.png" class="post-upvote-image">
        <p>783</p>
        <img src="assets/downvote.png" class="post-downvote-image">
      </div>
      <div class="post-section post-image">
        <img src="assets/mass-icon.png" class="post-image-image">
      </div>
      <div class="">
        <h4 class="post-title">Best companions in Mass Effect</h4>
        <p class="post-text">submitted by: shepard</p>  
      </div>
    </div>
  </body>
</html>