<h1 class = "edit-post-headline">Edit Your Post Below</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back to post', @post, class: "edit-post-link-to-back-to-post" %> |
<%= link_to 'Back to homepage', posts_path, class: "edit-post-link-to-back-to-homepage" %>
