/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /********** General ***********/

 * {
	box-sizing: border-box;
}

.link-to {
	color: #E51E23;
	text-decoration: none;
}

.link-to:hover {
	color: #6CCA56;
}

/********** User Nav Bar ***********/

.user-navbar {
	display: flex;
	justify-content: center;
}

.user-navbar-username {
	margin: 0 0.5em;
	letter-spacing: 1px;
}

.user-navbar-link {
margin: 0 0.5em;
color: #E51E23;
text-decoration: none;
letter-spacing: 1px;
}

/********** Main Header & Links ***********/

.main-header-logo {
	height: 3em;
	justify-content: center;
	align-items: center;
}

.main-header {
	display: flex;
	justify-content: center; 
	flex-wrap: wrap;
	align-items: center;
}

.main-nav-link {
	margin: 0 1em;
	color: #E51E23;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.main-nav-link:hover {
	color: #6CCA56;
}

/************* Search Bar *************/

.search-bar {
	margin-top: 5px;
	margin-bottom: -10px;
	display: flex;
	justify-content: flex-end;
}

/************* Hero Banner *************/

.hero {
	height: 250px;
	background: url('../assets/gaming-banner5.jpg') no-repeat center;
	background-color: #F3D946;
	background-size: contain;
}

.hero-title {
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0, .8);
	text-transform: uppercase;
	font-size: 1.8rem;
	padding-top: 60px; 
	padding-right: 150px;
	font-weight: bold;
	letter-spacing: 2.5px;
	text-align: center;
}

.hero-subtitle {
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0, .8);
	letter-spacing: 1.5px;
	text-align: center;
	font-size: 1.5rem;
	padding-right: 130px;
}

/************** Log In Form **************/

.log-in-form {
	margin-top: 10px;
}

/************ Posts - General ************/

.post {
	display: flex;
	align-items: center;
	border: 5px solid #BABFCB;
	margin-top: 10px;
}

.post-index, .post-upvotes, .post-image, .post-title, .post-content {
	margin: 1em;
}

.post-image-image {
	height: 5em;
}

.create-new-post:hover, .link-to-show:hover, .link-to-edit:hover, .link-to-delete:hover {
	color: #6CCA56;
}

.create-new-post, .link-to-show, .link-to-edit, .link-to-delete {
	color: #E51E23;
	text-decoration: none;
}

.link-to-show, .link-to-edit, .link-to-delete {
	padding-right: 10px;
}

.style {
	border: 10px #E51E23;
}

/*********** Posts - Upvotes ***********/

.post-upvotes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.post-upvote {
	color: green;
}

.post-downvote {
	color: #E51E23;
}

.post-upvote-image, .post-downvote-image {
	height: 2em;
}

/************ Posts in Show *************/

.show-post {
	border: 5px solid #BABFCB;
	margin-top: 10px;
	padding: 5px;
}

/************* Edit Posts Page **********/

.edit-page-headline {
	color: #E51E23;
}

/************* New Posts Page **********/

.new-post-headline {
	color: #E51E23;
}

/************* Comments in Show **********/

.show-comment {
	border: 5px solid #F3D946;
	margin-top: 10px;
	padding: 5px;
}

.comments-headline {
	color: #E51E23;
}

/************* Edit User Page **********/

.edit-user-headline, .cancel-headline {
	color: #E51E23;
}

/************** Footer *****************/

.main-footer {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid #F3D946;
	border-top: 3px solid #F3D946;
	text-align: center;
}

.main-footer-link {
	color: #E51E23;
	text-decoration: none;
	font-weight: bold;
}

.main-footer-link:hover {
	color: #6CCA56;
}

/************* Media Queries ************/

