/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /********** General ***********/

 * {
	box-sizing: border-box;
}

/********** Main Header & Main Nav Links ***********/

.main-header-logo {
	height: 3em;
	justify-content: center;
	align-items: center;
}

.main-header {
	display: flex;
	justify-content: center; 
	flex-wrap: wrap;
	align-items: center;
}

.main-nav-link {
	margin: 0 1em;
	color: #E51E23;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.main-nav-link:hover {
	color: #6CCA56;
}

/********** User Nav Bar ***********/

.user-navbar {
	display: flex;
	justify-content: center;
}

.user-navbar-username {
	margin: 0 0.5em;
	letter-spacing: 1px;
}

.user-navbar-link {
margin: 0 0.5em;
color: #E51E23;
text-decoration: none;
letter-spacing: 1px;
}

.user-navbar-link:hover {
	color: #6CCA56;
}

/************* Hero Banner *************/

.hero-banner {
	height: 250px;
	background: url('../assets/gaming-banner5.jpg') no-repeat center;
	background-color: #F3D946;
	background-size: contain;
}

.hero-title {
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0, .8);
	text-transform: uppercase;
	font-size: 1.8rem;
	padding-top: 60px; 
	padding-right: 150px;
	font-weight: bold;
	letter-spacing: 2.5px;
	text-align: center;
}

.hero-subtitle {
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0, .8);
	letter-spacing: 1.5px;
	text-align: center;
	font-size: 1.5rem;
	padding-right: 130px;
}

/************ Posts - Homepage ************/

.post {
	display: flex;
	align-items: center;
	border: 5px solid #BABFCB;
	margin-top: 10px;
}

.post-upvotes, .post-image, .post-title, .post-content {
	margin: 1em;
}

.post-links {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.link-to-create-new-post, .link-to-show, .link-to-edit, .link-to-delete {
	color: #E51E23;
	text-decoration: none;
}

.link-to-create-new-post:hover, .link-to-show:hover, .link-to-edit:hover, .link-to-delete:hover {
	color: #6CCA56;
}

.link-to-show, .link-to-edit, .link-to-delete {
	padding-right: 10px;
}

/*********** Posts Homepage - Upvotes & Downvotes ***********/

.post-upvotes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.post-upvote {
	color: green;
}

.post-downvote {
	color: #E51E23;
}

/************ Posts Show Page - Homepage *************/

.show-post {
	border: 5px solid #BABFCB;
	margin-top: 10px;
	padding: 5px;
}

.show-post-link-to-edit-post, .show-post-link-to-back-to-homepage {
	color: #E51E23;
	text-decoration: none;
}

.show-post-link-to-edit-post:hover, .show-post-link-to-back-to-homepage:hover {
	color: #6CCA56;
}

/************* Posts Show Page - Comments **********/

.comments-headline {
	color: #E51E23;
}

.show-comment {
	border: 5px solid #F3D946;
	margin-top: 10px;
	padding: 5px;
}

.link-to-destroy-comment {
	color: #E51E23;
	text-decoration: none;
}

.link-to-destroy-comment:hover {
	color: #6CCA56;
}

/************* Posts - Edit Page **********/

.edit-post-headline {
	color: #E51E23;
}

.edit-post-link-to-back-to-post, .edit-post-link-to-back-to-homepage {
	color: #E51E23;
	text-decoration: none;
}

.edit-post-link-to-back-to-post:hover, .edit-post-link-to-back-to-homepage:hover {
	color: #6CCA56;
}

/************* Posts - Create a New Post Page **********/

.new-post-headline {
	color: #E51E23;
}

.new-post-link-to-back-to-homepage {
	color: #E51E23;
	text-decoration: none;
}

.new-post-link-to-back-to-homepage:hover {
	color: #6CCA56;
}

/********** START OF DEVISE PAGES **************/

/************* Devise - Edit User Profile Page **********/

.edit-user-headline, .cancel-account-headline {
	color: #E51E23;
}

.edit-user-link-to-back-to-homepage {
	color: #E51E23;
	text-decoration: none;
}

.edit-user-link-to-back-to-homepage:hover {
	color: #6CCA56;
}

/************** Devise - Log in Page **************/

.log-in-headline {
	color: #E51E23;
}

.log-in-link-to-sign-up, .log-in-link-to-forgot-password {
	color: #E51E23;
	text-decoration: none;
}

.log-in-link-to-sign-up:hover, .log-in-link-to-forgot-password:hover {
	color: #6CCA56;
}

/************** Devise - Forgot Your Password Page **************/

.forgot-password-headline {
	color: #E51E23;
}

.forgot-password-link-to-sign-up, .forgot-password-link-to-log-in{
	color: #E51E23;
	text-decoration: none;
}

.forgot-password-link-to-sign-up:hover, .forgot-password-link-to-log-in:hover {
	color: #6CCA56;
}

/************** Devise - Sign Up Page **************/

.sign-up-headline {
	color: #E51E23;
}

.sign-up-link-to-log-in {
	color: #E51E23;
	text-decoration: none;
}

.sign-up-link-to-log-in:hover {
	color: #6CCA56;
}

/********** END OF DEVISE PAGES **************/


/************** Forms *****************/

/* Entering a comment, editing a post & creating a new post */

textarea, .text-field {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #cdcfcf;
	margin-top:5px;
	padding: 5px;
	color: #333;
	background-color: #f6f8f8;
}

textarea {
	height: 100px;
}

/************** Footer *****************/

.main-footer {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid #F3D946;
	border-top: 3px solid #F3D946;
	text-align: center;
}

.main-footer-link {
	color: #E51E23;
	text-decoration: none;
	font-weight: bold;
}

.main-footer-link:hover {
	color: #6CCA56;
}

/************* Media Queries ************/


